@import './styles/messageStyle.scss';
@import './styles/sendingStyle.scss';
@import './styles/onlineOfflineStyles.scss';
@import './styles/contactBlock.scss';

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.icon {
  top: 35px;
  left: 15px;
  position: absolute;
}

.iconBox {
  position: relative;
}

.avatar {
  width: 55px;
  min-width: 55px;
  height: 55px;
  margin: 15px;
  background-size: cover;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
}

/******* Left Side ******/

.searchBar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f3f3f3;
  height: 150px;
  border-bottom: 1px solid #e0e0e0;
}

.inputSearch {
  position: relative;
}

.contactSearch {
  height: 40px;
  width: 90%;
  margin: 20px auto;
  padding-left: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 25px;
  font-size: 18px;
  text-align: left;
  outline: none;
}

.chats {
  margin: 35px;
  font-size: 2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #4cbae6;
}

/******** Right Side *********/

.messagesBlock {
  width: 65%;
  margin: 0;
  display: flex;
  flex-direction: column;

  .currentContact {
    height: 15vh;
    background-color: #f3f3f3;
    font-size: 1.5em;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .msgHistory {
    padding-top: 15px;
    height: 85vh;
    background-color: #f5f5f5;
    overflow-y: scroll;
  }
}